# 집합(set)
- 중복을 허용하지 않고, 순서가 x 데이터 구조

In [ ]:

my_set = {1,2,3,3,4,5} # 중복된 원소가 있으면 알아서 제거해서 저장됨.
print(my_set)
# 순서가 없어서 인덱싱이 불가능하다.

{1, 2, 3, 4, 5}

## 메서드
- set1.add(x) : 요소 추가
- set1.remove(x) : 요소 제거, 없으면 에러 남
- set1.discard(x) : 요소 제거, 없으면 무시함
- set1.clear() : 모든 요소 제거
- set1.union(set2) : 합집합
- set1.intersection(set2) : 교집합
- set1.difference(set2) : 차집합

In [ ]:
# 문제1
data = [1, 2, 2, 3, 4, 4, 5]
data = set(data)
print(data)

{1, 2, 3, 4, 5}

In [6]:
# 문제2
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]

set1 = set(list1)
set2 = set(list2)

set_common = set1.intersection(set2)

print(set_common)

{4, 5}

In [8]:
a = {1, 3, 5, 7}
b = {3, 4, 5, 6}

print(a.union(b))
print(a.difference(b))
print(a.intersection(b))

{1, 3, 4, 5, 6, 7}
{1, 7}
{3, 5}

# comprehension(컴프리헨션)
- [표현식 for 변수 in 반복가능한객체 if 조건]

In [9]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [11]:
# 문제 1
# 1부터 20까지의 숫자 중 3의 배수만 리스트로 만들어보세요. (리스트 컴프리헨션 사용)
multi_3 = [x for x in range(1,21) if x % 3 == 0]
print(multi_3)

[3, 6, 9, 12, 15, 18]

In [ ]:
# 문제2
# 다음 리스트에서 단어의 길이를 key로 하고, 단어를 value로 하는 딕셔너리를 만들어보세요.
# 단, 길이가 같은 단어는 가장 먼저 등장하는 단어만 포함되도록 하세요.
words = ["hi", "hello", "world", "sun", "code"]
d = {}
for i in words:
    if f'{len(i)}' not in d:
        d[f'{len(i)}'] = i
        print(d)

# 컴프리헨션으로 풀기 좋지 않음. d를 만드는 동시에 d를 참조해야해서.

{}

In [27]:
#문제3
# 이 리스트에서

# 길이 5 이상

# 모두 소문자로 변환

# 중복 제거

# 된 집합을 만들어보세요!
words = ["Apple", "Banana", "kiwi", "Avocado", "GRAPE", "Fig", "Banana"]

over_five = set([x.lower() for x in words if len(x)>=5])
print(over_five, type(over_five))

{'grape', 'banana', 'avocado', 'apple'} <class 'set'>

# lambda 함수
- lambda 매개변수: 표현식

In [ ]:
# 문제1


diff = lambda a,b : a-b if a > b else b-a
    
print(diff(10, 3))  # 7
print(diff(2, 5))   # 3

7
3

In [2]:
# 문제 2
# 문자열을 입력받아 앞글자만 대문자로 바꿔주는 람다 함수를 만들어보세요.
cap = lambda s : s.capitalize() 

print(cap("hello"))  # "Hello"
print(cap("python")) # "Python"

Hello
Python

# 함수 고급 문법 *args **kwargs

In [7]:
# 문제 1
# 기본값 인자를 활용해, 이름을 인자로 받고
# 인사가 없으면 "안녕하세요"로 출력하는 함수를 만들어보세요.

def greet (*args):
    if len(args) == 1 :
        print(f"안녕하세요 {args[0]} ")
    else:
        print(f'{args[1]} {args[0]}')
    
    
# 예시
greet("수지", "안녕!")
greet("철수")

안녕! 수지
안녕하세요 철수

In [11]:
# 문제2
def average(*args):
    avg = sum(args)/len(args)
    print(avg)

average(10, 20, 30)
average(5, 15)

20.0
10.0

In [ ]:
# 문제 : 영수증 만들기 함수
def receipt(*args, **kwargs):
    상품_총액 = sum(args)
    세금 = 상품_총액 * kwargs["tax"]
    팁 = kwargs["tip"]
    최종_결제_금액 = 상품_총액 + 세금 + 팁
    print(f'''
          상품_총액 = {sum(args)}
          세금 = {상품_총액 * kwargs["tax"]}
          팁 = {kwargs["tip"]}
          최종_결제_금액 : {상품_총액 + 세금 + 팁}''')






receipt(10000, 2000, 3000, tax=0.1, tip=1000)
# 출력 예시:
# 상품 총액: 15000
# 세금: 1500
# 팁: 1000
# 최종 결제 금액: 17500

          상품_총액 = 15000
          세금 = 1500.0
          팁 = 1000
          최종_결제_금액 : 17500.0

In [15]:
# get()
car = {
    "brand": "Hyundai",
    "year": 2020
}
print(car.get("brand"))
print(car.get("color","black"))

Hyundai
black

# 클래스와 객체짛향 프로그래밍 기초

In [19]:
 # 문제

class Book:
    def __init__(self,title,author):
        self.title = title
        self.author = author

    def info(self):
        print(f'책 제목 : <{self.title}>, 저자 : <{self.author}>')

a = Book("냉장고를 부탁해","최강록")
a.info()

책 제목 : <냉장고를 부탁해>, 저자 : <최강록>

In [22]:
# 문제
class Book:
    def __init__(self,title,author):
        self.title = title
        self.author = author

    def info(self):
        print(f'책 제목 : <{self.title}>, 저자 : <{self.author}>')
    
    def is_long(self):
        if len(self.title) >= 10 :
            print("긴 제목입니다.")
        else:
            print("짧은 제목입니다.")



a = Book("파이썬 기초 마스터하기", "홍길동")
a.info()
a.is_long()  # 긴 제목입니다.

책 제목 : <파이썬 기초 마스터하기>, 저자 : <홍길동>
긴 제목입니다.

# 클래스 심화 : 객체지향 개념 + 파이썬 문법

In [5]:
# 실습
class Student:
    school_name = "코딩고등학교"

    def __init__(self, name, id_num):
        self.name = name
        self.id_num = id_num

    def introduce(self):
        print(f"학생 이름 : {self.name}")
        print(f"학번: {self.id_num}")
        print(f"학교 : {Student.school_name}")

p = Student("민수",202301)
p.introduce()

학생 이름 : 민수
학번: 202301
학교 : 코딩고등학교

### 클래스 메서드, 정적 메서드

In [17]:
class Student:
    school_name = "코딩고등학교"
    student_count = 0

    def __init__(self,name, grade):
        self.name = name
        self.grade = grade
        Student.student_count += 1
        print(f"총 학생 수 : {Student.student_count}")
    
    def introduce(self):
        print(f"안녕하세요, 저는 {self.name}이고 {self.grade}학년입니다.")
    
    @ classmethod
    def reset_count(cls):
        cls.student_count = 0
        print("학생 수가 초기화되었습니다.")

s1 = Student("지민", 1)
s2 = Student("수지", 2)

s1.introduce()
s2.introduce()

Student.reset_count()
print(Student.student_count)

총 학생 수 : 1
총 학생 수 : 2
안녕하세요, 저는 지민이고 1학년입니다.
안녕하세요, 저는 수지이고 2학년입니다.
학생 수가 초기화되었습니다.
0

# \_\_str\_\_() 메서드

In [19]:
class Book:
    def __init__(self, title):
        self.title = title

    def __str__(self):
        return f"책 제목: {self.title}"

b = Book("파이썬")
print(b)

책 제목: 파이썬

# 상속(inheritance)

In [22]:
# 문제

class Animal():
    def __init__(self):
        pass
        

    def speak(self):
        print("동물이 소리를 냅니다.")

class Dog(Animal):
    def speak(self):
        print("멍멍!")

class Cat(Animal):
    def speak(self):
        print("야옹!")




a = Animal()
a.speak()  # 동물이 소리를 냅니다.

d = Dog()
d.speak()  # 멍멍!

c = Cat()
c.speak()  # 야옹~

동물이 소리를 냅니다.
멍멍!
야옹!

### super() : 자식 클래스에서 부모의 클래스의 메서드를 그대로  쓰거나 확장하고 싶을 때.

In [31]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
            

class Student(Person):
    def __init__(self, name, age, school):
        super().__init__(name,age)
        self.school = school

    def introduce(self):
        print(f"""
              이름 : {self.name}
              나이 : {self.age}
              학교 : {self.school}""")
    
m = Student("민수",18,"코딩고등학교")
m.introduce()

              이름 : 민수
              나이 : 18
              학교 : 코딩고등학교

# 파이썬 내장 함수

## 1단계
len()

type()

max(), min()

sum()

sorted()

enumerate()

In [33]:
# 문제 1
scores = [80, 95, 70, 100, 85]

print(max(scores))
print(min(scores))
print(sum(scores))
print(sum(scores)/len(scores))

100
70
430
86.0

In [34]:
# 문제 2
name =['철수', '영희', '민수']

for i,n in enumerate(name):
    print(f'{i} : {n}')

0 : 철수
1 : 영희
2 : 민수

# 2단계
zip() : 여러 리스트를 묶어주는 함수

map() : 리스트에 함수를 적용

filter() : 조건에 맞는 값만 걸러냄

any() / all() : 조건 검사 (참/거짓)

reversed() : 뒤집기

In [2]:
# zip()
students = ["준수", "하늘", "예진"]
midterm = [85, 90, 80]
final = [88, 92, 84]

for s,m,f in zip(students,midterm, final):
    print(f"{s} - 중간고사 : {m}, 기말고사 : {f}")

준수 - 중간고사 : 85, 기말고사 : 88
하늘 - 중간고사 : 90, 기말고사 : 92
예진 - 중간고사 : 80, 기말고사 : 84

In [7]:
# map()
names = ["jisoo", "rose", "lisa", "jennie"]

uppered = map(str.upper,names)
print(list(uppered))

['JISOO', 'ROSE', 'LISA', 'JENNIE']

In [10]:
#filter()

names = ["준수", "하늘", "예진", "수민"]
scores = [85, 92, 90, 88]

# 이름과 점수를 묶어서, 점수가 90 이상인 항목만 필터링
filtered = filter(lambda x: x[1] >= 90, zip(names, scores))

# 이름만 뽑아서 리스트로 만들기
result = [name for name, score in filtered]

print(result)  # ['하늘', '예진']

['하늘', '예진']

In [15]:
# filter() 추가 문제
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

multi_3 = filter(lambda x : x %3 == 0,numbers)
print(list(multi_3))


words = ["apple", "Banana", "cherry", "DATE", "egg"]
lowered = filter(str.islower,words)
print(list(lowered))

[3, 6, 9, 12]
['apple', 'cherry', 'egg']

## any(), all() 함수
- 리스트와 같이 반복 가능한 자료형 안의 값들이
- 참인지 거짓인지 검사할 떄 사용

- any ()
+ 하나라도 참 ==> True
+ 모두 거짓 ==> False

- all()
+ 모두 참 ==> True
+ 하나라도 거짓 ==> False

In [3]:
# 실습
scores = [85, 90, 78, 92] 

print(all(score >= 70 for score in scores))
print(any(score < 90 for score in scores))

True
True

## reversed()

In [9]:
# 실습
nums = [10, 20, 30, 40, 50]
rev = list(reversed(nums))
rev_s=reversed("Hello World")

print(rev)
print("".join(rev_s))

[50, 40, 30, 20, 10]
dlroW olleH

# datetime 모듈

In [16]:
#1
from datetime import datetime,timedelta
kst_now = datetime.now()
print(kst_now.strftime("%Y년 %m월 %d일"))

#2
str_date = "2025-04-01 15:30"
dt = datetime.strptime(str_date, "%Y-%m-%d %H:%M")
print(dt)

#3
three_days = timedelta(days=3)
three = kst_now - three_days
print(three.date())
print(three.time().strftime("%H:%M:%S"))

2025년 04월 11일
2025-04-01 15:30:00
2025-04-08
12:33:23

In [17]:
# 연습코드
from datetime import datetime
now = datetime.now()
print(now)
print(now.tzinfo)

2025-04-11 12:40:14.614471
None

In [18]:
from datetime import datetime, timezone
utc_now = datetime.now(timezone.utc)
print(utc_now)
print(utc_now.tzinfo)

2025-04-11 03:41:05.097979+00:00
UTC

In [19]:
from datetime import timezone,timedelta

KST = timezone(timedelta(hours=9))
kst_now = datetime.now(KST)

print(kst_now)

2025-04-11 12:44:45.386321+09:00

In [20]:
from datetime import datetime, timezone, timedelta

KST = timezone(timedelta(hours=9))

utc_now = datetime.now(timezone.utc)
print("UTC : ",utc_now)

kst_time = utc_now.astimezone(KST)
print("KST : ", kst_time)

UTC :  2025-04-11 03:47:58.414371+00:00
KST :  2025-04-11 12:47:58.414371+09:00

In [ ]:
# 점투파 : 표준 라이브러리